@charset "utf-8";
/* reset simple */
*{ /* * l'étoile signifie tout all */

    box-sizing: border-box;
 
 }
 
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp, 
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 
    margin: 0;
 
     padding: 0;
 
     border: 0;
 
     font-size: 100%;
 
     font: inherit;
 
     vertical-align: baseline;
 
 }

/* les typos google */

/* font-family: 'Anton', sans-serif;
font-family: 'Lemonada', cursive;
font-family: 'Oswald', sans-serif; */

/* les styles de Fabrice Domoison site de HTML CSS PHASE 2 */
body {
    /* background: plum; */
    font-family: 'Oswald', sans-serif;
    background-image: url('../img/concrete-texture.png');
}

h1 {
    font-size: 45px;
    font-family: 'Anton', sans-serif;
    color: #2980b9;
    text-align: center;
    letter-spacing: 1px;
}

h2 {
    font-size: 35px;
    color: #2c3e50;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
}

h3 {
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
    text-shadow: 1px 1px 2px #aaa;
}

h4 {
    text-align: center;
    margin-top: 30px;
}

blockquote {
    font-family: 'lemonada', serif;
    font-size: 120%
}

blockquote i {
    font-size: 250%;
    vertical-align: middle;
    color: #6acafc;
}

.position1 {
    margin: 20px;
    position: relative;
    bottom: 15px;
}

.position2 {
    margin: 20px;
    position: relative;
    top: 15px;
}

strong {
    font-weight: bold;
}

/* header et index*/

header{
    height: 175px;
    background: #2c3e50;
}

#logo {
    float: left;
    width: 25%;
    background: #2c3e50;
    padding: 15px;
    text-align: center;
}

#slogan {
    float: left;
    width: 50%;
    background: #2c3e50;
    padding-top: 50px;
}

#social {
    float: left;
    width: 25%;
}
#social i {
    background: #2c3e50;
    font-size: 30px;
    text-align: right;
    padding: 15px 30px 0 0;
    display: block;
}

header a {
    text-decoration: none;
    color: #10828c;
}
 /* fin header */
 /* nav // navigation */
 nav{
     background: #2980b9;
     height: 70px;
     border-bottom: 8px solid #6acafc;
     text-align: center;
     padding: 15px;
 }

 nav a {
     background: #6acafc;
     color: #2c3e50;
     text-decoration: none;
     font-size: 20px;
     font-family: 'Oswald', sans-serif;
     margin: 20px;
     padding: 2px 10px;
     border-radius: 10px 0px;
     border: 2px solid #fff;
     transition: 0.5s; /* transition sur la a marche avec le :hover */
 }

 nav a:hover {
     color: #fff;
     background: #a6d6c3;
 }

 /* fin nav */
.clear {
    clear: both;
}

/* les zones principales */
main {
    background: rgba(178,178,178,0.30);
    width: 1000px;
    margin: 0 auto;
}

aside {
    height: 250px;
    background: #a6d6c3;
}

section {
    margin-top: 50px;
    padding: 20px;
}

footer {
    height: 100px;
    background: #2980b9;
}

/* fin des zones principales */

/* le retour en haut de page */

button {
    font-size: 350%;
    background: transparent; /* l'icône est transparente */
    border: none;
    color: #2c3e50;
    position: fixed;/* le button est fixe à 40px du bas et 20px de la droite */
    bottom: 40px;
    right: 20px;
}

.active {
    color: #fff;
     background: #a6d6c3;
}

/* page texte voir aussi blockquote */
p {
    padding: 5px;
}
/* page sélecteur */

.select p {
    color: red;
    /* background: white; */
}
.select p:first-of-type { /* 1er enfant du type désigné */
    background: pink;
}

.select p:last-of-type { /* dernier enfant du type designé */
    background: #a6d6c3;
    width: 300px;
}

.select p:nth-of-type(4), p:nth-of-type(6) {
    background: #333;
    width: 500px;
}

/* .select *:last-child {
    font-size: 30px;
    border: thin solid #333;
} */

.select .zoneA {
    color: orangered;
}

.select .zoneB {
    color: olive;
}

.select div:not(.zoneB) {
    font-size: 50px;
}

.select .zoneB .couleurBleu {
    color: blue;
    font-size: 16px;
}

.select #zoneD span {
    color: #32ff32;
    font-style: italic;
    /* font-size: 3px; */
}


/* fin page sélecteur */

/* début page image */
.imageFond {
    background: #000 url(../img/fond.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.imageFond p {
    width: 75%;
    margin: 200px auto 250px auto;
    padding: 20px;
    background: rgba(255,255,255,0.60);
    border-radius: 10px;
    font-size: 120%;
}


img[src="img/toureiffel.jpg"] { /* on ne cible que cette image là */
    margin: auto;
    display: block;
    padding: 20px;
    background: #fff;
    
}

.imagegolden {
    margin: 20px;
    border: 5px solid #fff;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    transition: 1s;
}


.imagegolden:hover {
    transform: rotate(-7deg);
    border: 15px solid #fff;
}

.rotation360:hover {
    transform: rotate(-360deg);
}

.aucentre {
    text-align: center;
}

/* fin page image */

/* page position */

/* positions "absolute" */
.centre {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background: #6acafc;
}

.absolute {
    position: absolute; /* voir aussi le button */
    top: 24%;
    left: 10%;
    background: yellow;
    width: 100px;
    height: 100px;
}

/* positions "relative" */

.relative {
    background: #2980b9;
    width: 400px;
    height: 400px;
    position: relative; /* relative à la section dans laquelle se trouve la div .relative */
    left: 100px;
    bottom: 10px;
}

.relative div {
    background: #fff1a8;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}

.trente {
    font-size: 22px;
    width: 30%;
    background: red;
    padding: 20px;
    color: #10828c;
}

.cinquante{
    font-size: 22px;
    width: 50%;
    background: red;
    padding: 20px;
    color: #1087;
}

.cent {
    font-size: 22px;
    width: 100%;
    background: red;
    padding: 20px;
    color: #105; 

}
.dix {
    font-size: 22px;
    width: 10%;
    background: red;
    padding: 20px;
    color: #6acafc;
}