@charset "utf-8";
/* reset simple */
*{ /* * l'étoile signifie tout all */

    box-sizing: border-box;
 
 }
 
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp, 
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 
    margin: 0;
 
     padding: 0;
 
     border: 0;
 
     font-size: 100%;
 
     font: inherit;
 
     vertical-align: baseline;
 
 }

/* les typos google */

/* font-family: 'Anton', sans-serif;
font-family: 'Lemonada', cursive;
font-family: 'Oswald', sans-serif; */

/* les styles de Fabrice Domoison site de HTML CSS PHASE 2 */
body {
    /* background: plum; */
    font-family: 'Oswald', sans-serif;
    background-image: url('../img/concrete-texture.png');
}

h1 {
    font-size: 45px;
    font-family: 'Anton', sans-serif;
    color: #2980b9;
    text-align: center;
    letter-spacing: 1px;
}

h2 {
    font-size: 35px;
    color: #2c3e50;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
}

h3 {
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
    text-shadow: 1px 1px 2px #aaa;
}

h4 {
    text-align: center;
    margin-top: 30px;
}

blockquote {
    font-family: 'lemonada', serif;
    font-size: 120%
}

blockquote i {
    font-size: 250%;
    vertical-align: middle;
    color: #6acafc;
}

.position1 {
    margin: 20px;
    position: relative;
    bottom: 15px;
}

.position2 {
    margin: 20px;
    position: relative;
    top: 15px;
}

strong {
    font-weight: bold;
}

/* header et index*/

header {
    height: 175px;
    background: #2c3e50;
}

#logo {
    float: left;
    width: 25%;
    background: #2c3e50;
    padding: 15px;
    text-align: center;
}

#slogan {
    float: left;
    width: 50%;
    background: #2c3e50;
    padding-top: 50px;
}

#social {
    float: left;
    width: 25%;
}
#social i {
    background: #2c3e50;
    font-size: 30px;
    text-align: right;
    padding: 15px 30px 0 0;
    display: block;
}

header a {
    text-decoration: none;
    color: #10828c;
}
 /* fin header */
 /* nav // navigation */
 nav {
     background: #2980b9;
     height: 70px;
     border-bottom: 8px solid #6acafc;
     text-align: center;
     padding: 15px;
 }

 nav a {
     background: #6acafc;
     color: #2c3e50;
     text-decoration: none;
     font-size: 20px;
     font-family: 'Oswald', sans-serif;
     margin: 20px;
     padding: 2px 10px;
     border-radius: 10px 0px;
     border: 2px solid #fff;
     transition: 0.5s; /* transition sur la a marche avec le :hover */
 }

 nav a:hover {
     color: #fff;
     background: #a6d6c3;
 }

 /* fin nav */
.clear {
    clear: both;
}

/* les zones principales */
main {
    background: rgba(178,178,178,0.30);
    width: 1000px;
    margin: 0 auto;
}

aside {
    height: 250px;
    background: #a6d6c3;
}

section {
    margin-top: 50px;
    padding: 20px;
}

footer {
    height: 200px;
    background: #2980b9;
    margin-top: 20px;
}

/* fin des zones principales */

/* le retour en haut de page */

button {
    font-size: 350%;
    background: transparent; /* l'icône est transparente */
    border: none;
    color: #2c3e50;
    position: fixed;/* le button est fixe à 40px du bas et 20px de la droite */
    bottom: 40px;
    right: 20px;
}

.active {
    color: #fff;
     background: #a6d6c3;
}

/* page texte voir aussi blockquote */
p {
    padding: 5px;
}
/* page sélecteur */

.select p {
    color: red;
    /* background: white; */
}
.select p:first-of-type { /* 1er enfant du type désigné */
    background: pink;
}

.select p:last-of-type { /* dernier enfant du type designé */
    background: #a6d6c3;
    width: 300px;
}

.select p:nth-of-type(4), p:nth-of-type(6) {
    background: #333;
    width: 500px;
}

/* .select *:last-child {
    font-size: 30px;
    border: thin solid #333;
} */

.select .zoneA {
    color: orangered;
}

.select .zoneB {
    color: olive;
}

.select div:not(.zoneB) {
    font-size: 50px;
}

.select .zoneB .couleurBleu {
    color: blue;
    font-size: 16px;
}

.select #zoneD span {
    color: #32ff32;
    font-style: italic;
    /* font-size: 3px; */
}


/* fin page sélecteur */

/* début page image */
.imageFond {
    background: #000 url(../img/fond.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.imageFond p {
    width: 75%;
    margin: 200px auto 250px auto;
    padding: 20px;
    background: rgba(255,255,255,0.60);
    border-radius: 10px;
    font-size: 120%;
}


img[src="img/toureiffel.jpg"] { /* on ne cible que cette image là */
    margin: auto;
    display: block;
    padding: 20px;
    background: #fff;
    
}

.imagegolden {
    margin: 20px;
    border: 5px solid #fff;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    transition: 1s;
}


.imagegolden:hover {
    transform: rotate(-7deg);
    border: 15px solid #fff;
}

.rotation360:hover {
    transform: rotate(-360deg);
}

.aucentre {
    text-align: center;
}

/* fin page image */

/* page position */

/* positions "absolute" */
.centre {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background: #6acafc;
}

.absolute {
    position: absolute; /* voir aussi le button */
    top: 24%;
    left: 10%;
    background: yellow;
    width: 100px;
    height: 100px;
}

/* positions "relative" */

.relative {
    background: #2980b9;
    width: 400px;
    height: 400px;
    position: relative; /* relative à la section dans laquelle se trouve la div .relative */
    left: 100px;
    bottom: 10px;
}

.relative div {
    background: #fff1a8;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}

.trente {
    font-size: 22px;
    width: 30%;
    background: red;
    padding: 20px;
    color: #10828c;
}

.cinquante {
    font-size: 22px;
    width: 50%;
    background: red;
    padding: 20px;
    color: #1087;
}

.cent {
    font-size: 22px;
    width: 100%;
    background: red;
    padding: 20px;
    color: #105; 

}

/* page position float */

.float {
    height: 170px;
    width: 170px;
    background: #fff1a8;
    margin: 10px;
    float: left;
    padding-top: 2px;
    text-align: center;
    font-size: 25px;
    border: 2px solid #2c3e50;
}

.dernier {
    height: 170px;
    width: 170px;
    background: #fff1a8;
    margin: 10px;
    padding-top: 2px;
    text-align: center;
    font-size: 25px;
    border: 2px solid #2c3e50;
}


footer div {
    width: 25%;
    height: 100px;
    float: left;
}

footer div nav {
    border-bottom: none;
}

footer div nav ul li {
    text-decoration: none;
    list-style: none;
    text-align: left;
}


/* Exercice sur le float */

.zone {
    height: 70px;
    background: #333;
}

.zone1, .zone2, .zone3, .zone4 {
    height: 250px;
    width: 25%;
    float: left;
}

.zone1 {
    background: #2c3e50;
}

.zone2 {
    background: #fff1a8;
}

.zone3 {
    background: orangered;
}

.zone4 {
    background: #984a59;
}

/* Exercice sur le float */

.flex {
    display: flex;
    /* également répartis horizontalement */
    /* justify-content: space-between;  */
    /* espace égal autour de chaque div */
    /* justify-content: space-around; */

    /* direction en colonne de haut en bas */
    /* flex-direction: column; */
}

.flex div {
    width: 150px;
    height: 150px;
    background: #984a59;
    text-align: center;
    font-size: 50px;
    color: white;
}

/* page avec les zoning */

/* zoning 1 */

#zoning1 {
    background: #333;
    width: 800px;
    text-align: center;
    margin: auto;
}

#zoning1 header {
    height: 70px;
    background: #f7f39a;
    box-shadow: 1px 1px 2px white;
}

#zoning1 aside {
    height: 525px;
    width: 20%;
    float: left;

}

#zoning1 section {
    height: 525px;
    width: 80%;
    float: left;
    margin: 0;
    padding: 0;
}

/* zoning 2 */

#zoning2 {
    background: #ffd6d6;
    width: 500px;
    text-align: center;
    margin: auto;
}

#zoning2 header {
  height: 70px;
  background: purple;
}

#zoning2 aside {
  height: 525px;
  width: 20%;
  float: left;

}

#zoning2 .middle {
    float: left;
    width: 60%;
    margin: 0;
    padding: 0;
}

/* zoning 3 */

#zoning3 {
    width: 800px;
    background: #ffd6d6;
    margin: auto;
    text-align: center;
}

#zoning3 section {
    height: 525px;
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
}

#zoning3 footer {
    float: left;
    height: 70px;
    width: 100%;
    background: lightgreen;
    color: black;
    
} 

/* zoning 4 */

#zoning4 {
    width: 700px;
    background: white;
    text-align: center;
    margin: auto;
}

#zoning4 header {
    height: 100px;
    background: #32ff32;
}

#zoning4 nav {
    height: 50px;
    border: none;
}

#zoning4 section {
    height: 500px;
    margin: 20px;
    background: hotpink;
    padding: 0;
}

#zoning4 footer {
    height: 50px;
    background: moccasin;
}

/* zoning 5 */

#zoning5 {
    background-color: #a3de83;
    margin: 0 auto;
    border: thin solid red;
    text-align: center;
}

#zoning5 header {
    height: 100px;
    background: #be32ff;
} 

#zoning5 nav {
    height: 50px;
    background: rgb(214, 107, 187);
    border-bottom: 8px solid #333;
}

#zoning5 section {
    background: #176d81;
    margin: 20px;
    padding: 0;
}

#zoning5 .section .z1, .z2, .z3, .z4 {
    height: 250px;
    width: 50%;
    float: left;
}

#zoning5 .section .z1, .z2, .z3, .z4 p {
    line-height: 250px;
}

#zoning5 .z1, .z4 {
    background: #32ff32;
}

#zoning5 .z2, .z3 {
    background: deepskyblue;
}

#zoning5 footer {
    height: 75px;
    background: #f8d771;
}

/* zoning 6 */

#zoning6 {
    width: 800px;
    margin: 0 auto;
    color: mediumblue;
}

#zoning6 header {
    background: #32ff32;
    height: 200px;
}

#zoning6 nav {
    border: none;
    height: 100px;
}

.haut1 {
    width: 25%;
    height: 100%;
    float: left;
    background: tomato;
}

.haut2 {
    width: 50%;
    height: 100%;
    float: left;
    background: teal;
}

.haut3 {
    width: 25%;
    height: 100%;
    float: left;
    background: turquoise;
}

#zoning6 aside {
    width: 25%;
    float: left;
    background: thistle;
    height: 700px;
}

#zoning6 section {
    float: left;
    width: 75%;
    background: #a3de83;
    margin: 0;
    padding: 0;
}

#zoning6 .a {
    height: 250px;
    background: wheat;
    float: left;
    width: 50%;
}

#zoning6 .b {
    height: 250px;
    background: whitesmoke;
    float: left;
    width: 50%;
}

#zoning6 .diaporama {
    height: 250px;
    background: #a3de83;
}

#zoning6 .c, .d, .e, .f {
    width: 25%;
    float: left;
    height: 200px;
    color: white;
}

.c, .e {
    background: black;
}

.d, .f {
    background: blue;
}

/* page tableau */

.tableau table {
    border: 2px solid #10828c;
    margin: auto;
    width: 80%;
    padding: 5px;
    border-collapse: collapse;
}

.tableau td {
    border: 2px solid #10828c;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

.tableau thead, .tableau tfoot {
    background: #a6d6c3;
    border: 5px solid #6acafc;
    text-align: center;
}

.tableau caption {
    background: #a6d6c3;
    border: 1px solid #6acafc;
    height: 50px;
    font-size: 25px;
    text-align: left;
    padding-left: 5px;
}

/* la page des listes */

ul.fruit {
    list-style: none;
}

ul.fruit li {
    display: inline;
    margin: 15px;
}

li .far {
    font-size: 90%;
    color: #10828c;
}

li .far:hover {
    font-size: 150%;
    color: red;
}

.imbriquee, .imbriquee ul {
    padding-left: 15px;
}

.imbriquee {
    cursor: pointer;
}

.imbriquee ul {
    display: none;
}

.europe:hover ul, .asie:hover ul {
    display: block;
}

.imbriquee li ul li:hover {
    font-size: 200%;
    background: #6acafc;
    display: inline;
    box-shadow: 5px 10px 10px grey;
    transition-duration: 1s;
}

/* fin listes */

/* page des liens */

.ancre {
    text-align: center;
}

.ancre a {
    margin: 8px;
    padding: 5px 10px;
    border-radius: 15px;
    background:  #2c3e50;
    color: white;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0px 0px 10px 3px black;
}

.ancre a:hover {
    box-shadow: none;
    transition-duration: 0.5s;
    text-shadow: 1px 5px 10px grey;
}

/* la nav dans l'id menu */

#menu nav {
    background: transparent;
    border: none;
}

#menu ul {
    list-style: none;
    text-align: center;
}

#menu ul li {
    display: inline-block;
}

#menu nav a {
    padding: 10px;
    color: grey;
    text-decoration: none;
    background: #ddd;
    transition: 1s ease-in; /* lent sur le début et accélère vers la fin */
}

#menu nav a:hover{
    color: #fff;
    background: #069;
}

/* le menu avec les menus déroulant */

#menuDeroulant {
 height: 650px;
}

#menuDeroulant nav {
    width: 90%;
    margin: 0 auto;
    background: transparent;
    border: none;
}

#menuDeroulant nav ul li {
    float: left;
    list-style: none;
    width: 20%;
}

#menuDeroulant ul ul {
    display: none;
}

#menuDeroulant nav ul li ul li {
    border-top: 1px solid #464646;
    width: 100%;
}

#menuDeroulant nav li {
    background: #ccc;
}

#menuDeroulant nav li a {
    display: block;
    padding: 4px 0 4px;
}

#menuDeroulant ul {
    text-align: center;
}

#menuDeroulant nav ul.niveau1 li.sousMenu:hover ul.niveau2 {
    display: block;
}

/* page formulaire */

form {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    background: #2c3e50;
    color: #069;
    border-radius: 15px;
}

label {
    margin: 20px 10px;
}

textarea {
    resize: none; /* pour empêcher de pouvoir redimensionner la fenêtre de textarea */
}

label[for="orange"], label[for="fraise"], label[for="kiwi"], label[for="cerise"] {
    background: red;
}

/* la page multimédia */

.videoFond {
    padding-left: 0;
    padding-right: 0;
}

.videoFond video {
    position: absolute;
    width: 100%;
    z-index: 1; /* empilement; 1 étant en-dessous de 2 */
}

.videoFond p {
    position: absolute;
    z-index: 2;
    width: 500px;
    margin: auto;
    background: rgba(255, 255, 255, 0.60);
    left: 250px;
    top: 150px;
    padding: 20px;
    font-size: 120%;
    border-radius: 10px;
}

.videoTexte {
    position: relative;/* la position relative permet de décaler un élément par rapport à un autre */
    width: 100%;
    height: 500px;
}

/* pour la vidéo youtube */

iframe[src="https://www.youtube.com/embed/MHYWgf3VqoY"] {
    width: 100%;
}

/* pour l'audio */

.audio {
    text-align: center;
}

/* pour l'iframe */

iframe[allowfullscreen] {
    width: 100%;
}

.bordure {
    border: 10px solid #069;
    background: linear-gradient(#a00f94, #2980b9);
    padding: 10px;
}

/* page animations */

.infoBulle {
    height: 250px;
    width: 500px; 
    margin: auto;
    background: #10828c;
    box-shadow: 0 0 50px #222 inset;/* inset à l'intérieur de l'élément */
    padding-top: 15px;
}

.infoBulle p {
    text-align: center;
    padding-top: 30px;
}

.infoBulle a {
    color: #ccc;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px 15px;
}

.infoBulle a:hover {
    color: white;
    background: rgba(0,0,0, .4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.infoBulle a span {
    position: absolute;
    padding: 15px;
    margin-top: 23px;
    margin-left: -35px;
    background: rgba(0, 0, 0, .9);
    opacity: 0; /* le contenu de span disparaît grâce à cette ligne */
    color: #09c;
    transition: .25s;
    /* la mise à l'échelle transform: scale(0) fait disparaître aussi */
    /* la transformation de l'echelle fait disparaître aussi */
    transform: scale(0) rotateZ(-12deg);
    border-radius: 13px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);

}

.infoBulle a:hover span {
    opacity: 1;
    transform: scale(1) rotate(0);
}

.infoBulle a span:before {
    content: '';
    position: absolute;
    top: -6px;
    left: -10px;
    border-bottom: 6px solid rgba(0,0,0,.9);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

/* Effets survol avec transitions et filtres */

/* la ul a la class ingEffets */
.imgEffets {
    width: 302px;
    height: 320px;
    margin: 70px auto;
}

.imgEffets li {
    list-style: none;
    float: left;
    width: 141px;
    height: 150px;
    margin: 5px;

}

/* la dernière des quatre li (on commence à 0) reprends sa position dans le flux  */
.imgEffets li:nth-child(3) {
    clear: both;
}

.imgEffets img {
    position: absolute;
    /* ttoutes les images sont empilés en bas */
    z-index: 1;
    /* on cale l'image dans un bloc de 150px idem que la hauteur du li */
    height: 150px;
    box-shadow: 0 0 3px black;
    /* cubic-bezier commence par 0 et se termine par 1 et entre nous mettons nos propres */
    transition: .5s cubic-bezier(0, 3, .4, 1);
    /* pour transition il faut sur le :hover transform */
}

.imgEffets li:hover img {
    /* du coup l'image sur le hover passe au premier plan car le z-index est à 2 */
    z-index: 2;
    /* transform fonctionne indépendamment de transition */
    transform: scale(1.5);
    box-shadow: 0 0 10px black;
}

.imgEffets:hover li:not(:hover) img {
    filter: grayscale(1) blur(5px);
}

/* rotation d'un menu en css 3 */

#menuRotate {
    height: 360px;
    width: 576px;
    margin: 100px auto;
    background: #d0e3fa;
    /* l'article id menuRotate est en position relative */
    position: relative;
    overflow: hidden;
    border: 2px solid white;
}

#menuRotate .masque {
    /* cette div masque le menu */
    /* position absolute par rapport à l'article */
    position: absolute;
    /* tout en haut de la pile */
    z-index: 50;
    width: 585px;
    height: 135px;
    top: 0;
    left: 0;
    background: linear-gradient(#324040, #a3dfdf);
}

#menuRotate .ombre {
    /* cette div est positionnée au bas de la .masque et donne une impression de relief */
    position: absolute;
    /* en dessous de la pile */
    z-index: 40;
    width: 300px;
    height: 6px;
    box-shadow: 0px 100px 3px black;
    border-radius: 75px 75px 75px 75px / 3px 3px 3px 3px; /*rayon horizontaux / Rayon verticaux*/
   top: 30px;
   left: 142px;
}

#menuRotate dl {
    /* on fait apparaître une petite partie de la dl */
    position : relative;
    top: 0;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 155px;
    color: #10828c;
    text-align: center;
    background: #333;
    border-radius: 0 0 6px rgba(0, 0, 0, 0.7);
    transform-origin: 50% 120px;
    animation: bounceOut 0.7s ease-in-out;
}

#menuRotate dt {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 23px;
    padding-top: 5px;
}

#menuRotate dd {
    transform: rotate(180deg);
}

#menuRotate dd a {
    color: white;
    display: block;
    text-decoration: none;
    height: 24px;
    padding: 3px 0;
}

#menuRotate dd a:hover {
    background: rgba(255, 255, 255, 0.1);
}

#menuRotate dl:hover {
    transform: rotate(-180deg);
    animation: bounceIn 0.7s ease-in-out;

}